[submodule "ggml"]
	path = third_party/ggml
	url = https://github.com/ggml-org/ggml.git
[submodule "third_party/RMBG-2.0-GGML"]
	path = third_party/RMBG-2.0-GGML
	url = https://github.com/Asher-1/RMBG-2.0-GGML.git
